   body {
      font-family: 'Prompt', sans-serif;
      background-color: #fff8e6;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 60px auto;
      background-color: #ffffff;
      padding: 35px 30px;
      border-radius: 20px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    }
    h1 {
      text-align: center;
      color: #e67e22;
      font-size: 1.8rem;
      margin-bottom: 25px;
    }
    label {
      display: block;
      font-weight: 600;
      margin-bottom: 8px;
      color: #663300;
      font-size: 1rem;
    }
    input[type="file"],
    input[type="text"] {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #ffd699;
      border-radius: 12px;
      font-size: 1rem;
      background-color: #fffdf8;
      box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.04);
      transition: 0.2s;
    }
    input[type="text"]:focus,
    input[type="file"]:focus {
      outline: none;
      border-color: #ff9900;
      background-color: #fff7e6;
    }
    button {
      width: 100%;
      padding: 12px;
      background-color: #ff9800;
      color: white;
      font-size: 1.1rem;
      font-weight: bold;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 5px 12px rgba(255, 152, 0, 0.3);
    }
    button:hover {
      background-color: #e68900;
      transform: translateY(-2px);
    }